<nav class="z-1 navbar navbar-expand-lg bg-dark sticky-top" data-bs-theme="dark">
  <div class="container-fluid mx-5">
    <a class="d-lg-flex mx-lg-auto navbar-brand" href="/"><img src="<%=JSON.stringify(navLoggedOut.picDetails.logo).replaceAll('"', '')%>" alt="<%=JSON.stringify(navLoggedOut.picDetails.logoText).replaceAll('"', '')%>" class="logo-design"></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <!-- in the anchor tag below removed the Reading Bliss text to add the space betwwen above Reading Bliss and below ul. TODO: Check this code so anchor tag can we removed and the UI will not change -->
      <a class="display-6 d-none d-lg-flex mx-lg-auto navbar-brand" href="/" style="color: #FFFFFF; text-decoration: none; display: none;"></a> 
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="/readingBliss/gallery"><%=JSON.stringify(navLoggedOut.navItems.galleryLabel).replaceAll('"', '')%></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/readingBliss/aboutUs"><%=JSON.stringify(navLoggedOut.navItems.aboutUsLabel).replaceAll('"', '')%></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/readingBliss/contact"><%=JSON.stringify(navLoggedOut.navItems.contactLabel).replaceAll('"', '')%></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/readingBliss/register"><%=JSON.stringify(navLoggedOut.navItems.registerLabel).replaceAll('"', '')%></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/readingBliss/login"><%=JSON.stringify(navLoggedOut.navItems.loginLabel).replaceAll('"', '')%></a>
        </li>
        <!-- <li class="nav-item form-check form-switch">
          <div class="nav-link">
            <input class="form-check-input py-2 px-4" type="checkbox" role="switch" id="flexSwitchCheckDefault" aria-checked="false">
          </div>
        </li> -->
      </ul>
    </div>
  </div>
</nav>

<!-- <script lang="js">
  const inputSwitch = document.querySelector("#flexSwitchCheckDefault")
  const checkSwitch = inputSwitch.addEventListener("change", (event) => {
    console.log(event.target.checked,"---checked");
    return event.target.checked 
  })
  console.log(checkSwitch, "------check switch")
  module.exports = checkSwitch();
</script> -->