<% layout('./layout/imageBoilerPlate', {bookJson, icons, isNavTransparent, getNavLinkColor, getNavToggleColor}) %>

<div class="d-flex flex-column home fade-in-load">
  <div class="background-image position-relative">
    <div class="container position-absolute top-50 start-50 translate-middle mt-md-5">
      <div class="px-md-5 text-center fade-in-scroll-js">
        <h1 class="text-white fade-out-scroll font-family-custom-image-heading">
          <%=homeStatic.title%>
        </h1>
        <p class="pt-3 font-family-custom-image-para text-wrap"><%=homeStatic.description %></p>
        <div class="my-5 fade-out-scroll"></div>
        <a
          href="/readingBliss/gallery"
          class="btn mt-3 py-3 px-5 btn-custom-fill-primary fade-out-scroll"
          ><%=homeStatic.actionButtons.exploreLabel%></a
        >
      </div>
    </div>
  </div>

  <div class="container my-5 pb-5 shadow rounded content-wrapper-top-light d-flex align-items-center">
    <div class="text-center d-flex flex-column mt-5 fade-in-scroll-js px-md-5">
      <h3><%=homeStatic.content.booksRAndRTitle %></h3>
      <p><%-homeStatic.content.booksRAndRDescription1 %></p>
    </div>
  </div>

  <div class="container my-md-5 pb-md-5 shadow rounded content-wrapper-top-dark border">
    <div class="container d-flex flex-column mt-3 fade-in-scroll-js pt-3">
      <div class="row">
        <!-- Above medium screens view -->
        <div class="col-md-7 d-none d-md-block">
          <div class="d-flex flex-column justify-content-center text-center fade-in-scroll-js" style="padding-top: 24%;">
            <h3><%=homeStatic.content.readingCommunityTitle %></h3>
            <p><%-homeStatic.content.readingCommunityDescription1 %></p>
          </div>
        </div>

        <!-- Mobile view -->
        <div class="col-md-7 d-md-none d-xs-block">
          <div class="d-flex flex-column justify-content-center text-center fade-in-scroll-js">
            <h3><%=homeStatic.content.readingCommunityTitle %></h3>
            <p><%-homeStatic.content.readingCommunityDescription1 %></p>
          </div>
        </div>
        
        <div class="col-md-5 image-wrapper-home d-none d-md-block fade-in-scroll-js">
          <img
          class="shadow img1 rounded border"
          src="<%=homeStatic.picDetails.firstUrl %>"
          alt="<%=homeStatic.picDetails.firstText %>"
        />
        <img
          class="shadow img2 rounded border"
          src="<%=homeStatic.picDetails.secondUrl %>"
          alt="<%=homeStatic.picDetails.secondText %>"
        />
        </div>
      </div>
    </div>
  </div>