<% layout('./layout/imageBoilerPlate', {bookJson, icons, isNavTransparent, getNavLinkColor, getNavToggleColor}) %>
<!--  When called anywhere inside a template, requests that the output of the current template be passed to the given view as the body local.  -->

<div class="home--image position-relative fade-in-load">
  <div class="container position-absolute top-50 start-50 translate-middle">
    <div class="text-center">
      <h1 class="display-4 text-white fade-out-scroll font-family-custom-image-heading">
        <%=homeStatic.title%>
      </h1>
      <h6 class="text-white text-style pt-5"><%=homeStatic.description %></h6>
      <a
        href="/readingBliss/gallery"
        class="card-link btn btn-outline-secondary mt-3 py-3 px-5 btn-custom-fill-primary fade-out-scroll"
        ><%=homeStatic.actionButtons.exploreLabel%></a
      >
    </div>
  </div>
</div>
<div class="container mt-5 mb-5 d-flex flex-column pb-5">
  <div class="text-center d-flex flex-column mt-3 fade-in-scroll-js">
    <h3><%=homeStatic.content.readingCommunityTitle %></h3>
    <p><%-homeStatic.content.readingCommunityDescription1 %></p>
  </div>
  <div class="text-center d-flex flex-column mt-5 fade-in-scroll-js">
    <h3><%=homeStatic.content.booksRAndRTitle %></h3>
    <p><%-homeStatic.content.booksRAndRDescription1 %></p>
  </div>
</div>
