<% layout('./layout/imageBoilerPlate', {bookJson, icons}) %>
<div class="mb-5 d-grid gap-5 fade-in-load">
  <div class="back-ground-image-half position-relative">
    <h1
      class="display-3 position-absolute top-50 start-50 translate-middle image-text-label"
    >
      <%=contactUsStatic.title %>
    </h1>
  </div>

  <div class="container text-center">
    <img
      src="<%=contactUsStatic.picDetails.url%>"
      class="rounded-circle"
      alt="<%=contactUsStatic.picDetails.text%>"
      width="304"
      height="236"
    />
    <div class="d-flex flex-column gap-5 pt-5">
      <div class="card shadow rounded bg-info bg-opacity-75">
        <div class="card-body">
          <div class="d-flex flex-column">
            <div class="border-bottom border-primary fade-in-scroll-js">
              <p><%-icons.addressIcon%> <%-contactUsStatic.description.address %></p>
              <p><%-icons.phoneIcon%> <%-contactUsStatic.description.phone %></p>
              <p><%-icons.emailIcon%> <%-contactUsStatic.description.email %></p>
            </div>
            <div class="pt-3 fade-in-scroll-js">
              <p><%-contactUsStatic.description.text %></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
