<% layout('layout/boilerplate', {bookJson, icons, isNavTransparent, getNavLinkColor, getNavToggleColor}) %>
<%- include("../partials/carousal", {carousalDetails: bookJson.carousal}) %>
<div class="p-5 rounded fade-in-scroll-js bg-dark edit-new-form-design">
  <form action="/readingBliss/<%= book._id %>?_method=PUT" method="POST" class="needs-validation container p-md-5" novalidate enctype="multipart/form-data">
      <div class="mb-3">
          <label for="name" class="form-label"><%=bookJson.edit.productName.label%></label>
          <input type="text" name="title" class="form-control" id="name" placeholder="<%=bookJson.edit.productName.placeHolder%>" value="<%= book.title %>" required>
        </div>
        <div class="mb-3">
          <label for="author" class="form-label"><%=bookJson.edit.productAuthor.label%></label>
          <input type="text" class="form-control" name="author" id="author" placeholder="<%=bookJson.edit.productAuthor.placeHolder%>" value="<%= book.author %>" required>
        </div>
        <div class="mb-3">
          <label for="images" class="form-label"><%=bookJson.edit.productImage.label%></label>
          <input type="file" name="images" id="images" class="form-control" multiple>
        </div>
        <div class="mb-3">
          <label for="description" class="form-label"><%=bookJson.edit.productDescription.label%></label>
          <textarea type="text" class="form-control" name="description" id="description" placeholder="<%=bookJson.edit.productDescription.placeHolder%>" rows="3" required><%= book.description %></textarea>
        </div>
        <div class="mb-3">
          <label for="category"><%=bookJson.edit.productCategory.label%></label>
          <select id="category" name="category" type="text" class="form-select" aria-label="Default select example">
              <% for(let category of bookJson.edit.productCategory.categoryValues) { %>
                  <option value="<%=category %>" <%=book.category === category ? 'selected': ''%>> <%= category %> </option>
              <% } %>
            </select>
        </div>
        <div class="d-grid gap-2 d-md-flex justify-content-md-between">
          <a href="/readingBliss" class="d-inline btn btn-link" role="button"><%=bookJson.edit.actionButtons.cancelLabel%></a>
          <button type="submit" class="btn btn-primary btn-custom-fill-primary py-2 px-4" value="Submit"><%=bookJson.edit.actionButtons.saveLabel%></button>
        </div>
  </form>
</div>