<% layout('layout/boilerplate') %>
<div class="container">
  <div class="alert alert-primary d-flex align-items-center mb-5" role="alert">
    <%-infoIcon%>
    <div>
      <%=galleryStatic.infoMessage %>
    </div>
  </div>

  <div class="gallery-row">
    <div class="gallery-col">
      <% for(let detail1 of details1[0]) { %>
        <a href="/readingBliss/<%= detail1._id %>">
          <div class="card bg-dark text-white img-hover-transform mb-2">
          <img src="<%=detail1.images[0]?.url%>" alt="<%=galleryStatic.picText %>" style="width: 100%" />
          <div class="card-img-overlay">
              <h4 class="card-title card-title-custom-gallery"><%=detail1.title%></h4>
            </div>
          </div>
        </a>
      <% } %>
    </div>
    <div class="gallery-col">
      <% for(let detail2 of details2[0]) { %>
        <a href="/readingBliss/<%= detail2._id %>">
          <div class="card bg-dark text-white img-hover-transform mb-2">
            <img src="<%=detail2.images[0]?.url%>" alt="<%=galleryStatic.picText %>" style="width: 100%" />
            <div class="card-img-overlay">
              <h4 class="card-title card-title-custom-gallery"><%=detail2.title%></h4>
            </div>
          </div>
          </a>
      <% } %>
    </div>
    <div class="gallery-col">
      <% for(let detail3 of details3[0]) { %>
        <a href="/readingBliss/<%= detail3._id %>">
          <div class="card bg-dark text-white img-hover-transform mb-2">
           <img src="<%=detail3.images[0]?.url%>" alt="<%=galleryStatic.picText %>" style="width: 100%" />
           <div class="card-img-overlay">
            <h4 class="card-title card-title-custom-gallery"><%=detail3.title%></h4>
          </div>
          </div>
          </a>
      <% } %>
    </div>
    <div class="gallery-col">
      <% for(let detail4 of details4[0]) { %>
        <a href="/readingBliss/<%= detail4._id %>">
          <div class="card bg-dark text-white img-hover-transform mb-2">
           <img src="<%=detail4.images[0]?.url%>" alt="<%=galleryStatic.picText %>" style="width: 100%" />
           <div class="card-img-overlay">
            <h4 class="card-title card-title-custom-gallery"><%=detail4.title%></h4>
          </div>
          </div>
          </a>
      <% } %>
    </div>
  </div>
</div>
