<% layout('layout/boilerplate') %>
<div>
  <div class="row row-cols-1 row-cols-md-4 g-4">
    <% for(let library of bookLibrary) { %>
    <div class="col">
        <div class="card h-100">
          <img src="<%= library.images%>" class="card-img-top" alt="<%=library.title%>">
          <div class="card-body" style="text-align: center;">
            <h5 class="card-title"><%=library.title%></h5>
            <p class="card-text"><%=library.description%></p>
          </div>
          <div class="card-footer" style="text-align: center;">
            <a class="btn btn-primary btn-custom-fill-primary py-2 px-4" href="/readingBliss/<%=library.id%>">
                Details
              </a>
        </div>
        </div>
    </div>
    <% } %>
  </div>
</div>