<% layout('layout/boilerplate') %>
<% if(!bookLibrary.length) { %> 
  <div class="mt-5">
    You do not have any books yet. You can add your book with the following link 
    <a href="/readingbliss/newBook">New Book</a>
  </div>
<% } else {%>
<div>
  <div class="row row-cols-1 row-cols-md-4 g-4">
    <% for(let library of bookLibrary) { %> 
    <% if(currentUser && library?.owner && library?.owner?.equals(currentUser._id)) { %>
    <div class="col">
      <div class="card h-100">
        <img
          src="<%= library.images%>"
          class="card-img-top"
          alt="<%=library.title%>"
        />
        <div class="card-body" style="text-align: center">
          <h5 class="card-title"><%=library.title%></h5>
          <p class="card-text"><%=library.description%></p>
        </div>
        <div class="card-footer" style="text-align: center">
          <a
            class="btn btn-primary btn-custom-fill-primary py-2 px-4"
            href="/readingBliss/<%=library.id%>"
          >
            Details
          </a>
        </div>
      </div>
    </div>
    <% } %>
    <% } %>
  </div>
  <div class="mt-5">
    <% for(let library of bookLibrary) { %>
      <% if(currentUser && library?.owner && !library?.owner?.equals(currentUser._id)) { %>
        <p>You do not have any books yet. You can add your book with the following link  <a href="/readingbliss/newBook">New Book</a></p>
        <% break %>
      <% } %> 
    <% } %>
  </div>
</div>
<% } %>
