<% layout('layout/boilerplate', {registerStatic}) %>

    <h1 class="text-center mb-3"><u><b><%=registerStatic.title%></b></u></h1>
    <div class="shadow-lg bg-info p-5 bg-opacity-75 rounded">
        <form action="/readingBliss/register" method="POST" class="needs-validation" novalidate>
            <div class="mb-3">
                <label for="name" class="form-label"><%=registerStatic.enterNameLabel%></label>
                <input type="text" name="name" class="form-control" id="name" autofocus
                    placeholder="<%=registerStatic.enterNamePlaceholder%>" required>
            </div>
            <div class="mb-3">
                <label for="username" class="form-label"><%=registerStatic.enterUsernameLabel%></label>
                <input type="text" name="username" class="form-control" id="username"
                    placeholder="<%=registerStatic.enterUsernamePlaceholder%>" required>
            </div>
            <div class="mb-3">
                <label for="password" class="form-label"><%=registerStatic.passwordLabel%></label>
                <div class="input-group">
                    <input name="password" type="password" id="password" class="form-control"
                        placeholder="<%=registerStatic.enterPasswordPlaceHolder%>" required>
                </div>
            </div>

            <div class="d-grid gap-2 d-md-flex justify-content-md-between">
                <button type="submit" class="btn btn-primary btn-custom-fill-primary py-2 px-4" value="Submit"><%=registerStatic.actionButtons.signUpButton%></button>
                <a href="/readingBliss/login" class="btn btn-link" role="button"><%=registerStatic.actionButtons.loginButton%></a>
            </div>
        </form>
    </div>