<% layout('./layout/imageBoilerPlate', {bookJson, icons, isNavTransparent, getNavLinkColor, getNavToggleColor}) %>
    <div class="px-md-5 py-5 user-login-register user-login-register">
        <div class="user-login-register_user container image-animation-pulse">
            <div class="form-box">
                <h1 class="text-style fade-in-load">
                    <%=registerStatic.title%>
                </h1>
                <form action="/readingBliss/register" method="POST" class="needs-validation" novalidate>
                    <div class="input-group">
                        <input type="text" name="name" id="name" required>
                        <label for="name"><%=registerStatic.enterNameLabel%></label>
                    </div>
                    <div class="input-group">
                        <input type="text" name="username" id="username" required>
                        <label for="username"><%=registerStatic.enterUsernameLabel%></label>
                    </div>
                    <div class="input-group mb-5">
                        <input name="password" type="password" id="password" required>
                        <label for="password"><%=registerStatic.passwordLabel%></label>
                    </div>
                    <button type="submit" class="btn btn-primary btn-custom-fill-primary" value="Submit"><%=registerStatic.actionButtons.signUpButton%></button>
                    <p class="pt-3 text-center">
                        <%=registerStatic.loginText %> <a class="d-inline btn btn-link" href="/readingBliss/login">
                            <%=registerStatic.actionButtons.loginButton%>
                          </a>
                      </p>
                </form>
            </div>
        </div>
    </div>